{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{{ asset('assets/img/breadcrumb.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{{ path('app_home') }}">Accueil</a>
                            <span>Bonjour <strong>{{ app.user.firstName }}</strong> <strong>{{ app.user.lastName }}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Votre Espace</h4>
                            <ul>
                                <li><a href="{{ path('app_account_password') }}">- Modifier votre mot de passe</a></li>
                                {# <li><a href="#">- Ajouter une adresse</a></li>
                                <li><a href="#">- Lister vos commandes</a></li> #}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Mes Commandes</h2>
                            {# {{ dump(orders) }} #}
                            {% if orders|length == 0 %}
                                <h3>Vous n'avez aucune commande pour le moment.</h3>
                            {% else %}
                                <!-- Shoping Cart Section Begin -->
                                <section class="shoping-cart spad">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="shoping__cart__table">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="shoping__product">ID</th>
                                                                <th>Date</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td class="shoping__cart__item">
                                                                    <img src="{{ asset('assets/img/cart/cart-1.jpg') }}" alt="">
                                                                    <h5>Commande {{ order.id }}</h5>
                                                                </td>
                                                                <td class="shoping__cart__price">
                                                                    {{ order.createdAt|date('d/m/Y') }}
                                                                </td>
                                                                <td class="shoping__cart__total">
                                                                    {{ (order.getTotal / 100) | number_format(0, ',', '.') }}
                                                                </td>
                                                                <td class="shoping__cart__total">
                                                                    <a href="{{ path('app_account_order', { 'id_order': order.id }) }}" style="color:black">Voir</a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- Shoping Cart Section End -->
                            {% endif %}
                        </div>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}
